@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

body {
  margin: 0;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
