@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");

body {
  font-family: "Turret Road", cursive;
  background-image: linear-gradient(
    to right top,
    #4d0155,
    #8e0055,
    #c12948,
    #e16031,
    #eb9a12
  );
  background-attachment: fixed;
  text-align: center;
}
